<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Система принятия решений</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% load static %}

</head>

<body>

<nav>
    <div class="nav-wrapper teal darken-1">
     {% if user.is_superuser %}
        <a href="{% url 'users_list' %}" class="brand-logo">Система принятия решений</a>
    {% else %}
         <a href="{% url 'index' %}" class="brand-logo">Система принятия решений</a>
    {% endif %}
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if user.is_superuser %}
                <li><a href="{% url 'users_list' %}">Главная</a></li>
            {% endif %}
            {% if not user.is_superuser %}
                <li><a href="{% url 'index' %}">Главная</a></li>
            {% endif %}
            {% if not user.is_superuser %}
                <li><a href="{% url 'models' %}">Модели</a></li>
            {% endif %}
        {% if user.is_superuser %}
                <li><a href="{% url 'system_settings' %}">Настройки</a></li>
            {% endif %}
            {% if user.is_superuser %}
                <li><a href="{% url 'statistics' %}">Статистики</a></li>
            {% endif %}
            <li><a href="{% url 'logout' %}">Выход</a></li>
        </ul>
    </div>
</nav>
<div class="row">
    <br><br><br>
</div>

{% block content %}

{% endblock %}
<div class="row">
    <br><br><br>
</div>

<footer class="page-footer teal darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Система принятия решений</h5>
                <p class="grey-text text-lighten-4">Система использует методы Вербального анализа принятия решений</p>

            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Авторы</h5>
                <p class="grey-text text-lighten-4">Зимин Ю.Г. Пархоменко В.А.</p>
                <p class="grey-text text-lighten-4">Cанкт-Петербургский политехнический университет Петра Великого</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">

            © 2020-2021 Все права защищены
        </div>
    </div>
</footer>


<script src="https://yastatic.net/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{% static 'model/js/tab.js' %}"></script>
<script src="{% static 'model/js/select.js' %}"></script>
<script src="{% static 'model/js/modal.js' %}"></script>


</body>