<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Система принятия решений</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
    <!-- Custom styles for this template -->
      <link rel="stylesheet" href="{% static 'model/css/signin.css' %}" type="text/css" />

  </head>

  <body class="text-center">

    <form class="form-signin" action="{% url 'registration'  %}" method="post">
        {% csrf_token %}
      <h1 class="h3 mb-3 font-weight-normal">Система принятия решения</h1>
      <label for="inputEmail" class="sr-only">Логин</label>
      <input type="text" id="inputEmail" class="form-control" placeholder="Введите логин" required autofocus name="username">
      <label for="inputPassword" class="sr-only">Пароль</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Введите пароль" required name="password">
              <label for="inputPassword" class="sr-only">Повторите пароль</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Повторите пароль" required name="password_2">
              {% if error %}
    <div class="alert alert-danger" role="alert">
  {{ error }}
</div>
    {% endif %}

      <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
        <a class="btn btn-lg btn-primary btn-block" href="{% url 'login' %}"> Войти в профиль</a>
      <p class="mt-5 mb-3 text-muted">Санкт-Петербургский политехнический университет Петра Великого<br>2021 </p>
    </form>


  </body>