{% extends "spbpu/base.html" %}
{% block content %}
    <div class="container">
    {% if error == False %}


        <div class="row">
            <h5>Отношение кол-ва пар для сравнения к кол-ву не сравнимых пар по методу ПАРК</h5>

<img src="{{path_img}}" class="rounded float-start">

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Кол-во не сравнимых пар</th>
                <th scope="col">Кол-во пар альтернатив</th>
                 <th scope="col">Кол-во альтернатив</th>
            </tr>
            </thead>
            <tbody>
            {% for item in context_table_pacom %}
                <tr>
                 {% for i in item %}
                    <td>{{ i }}</td>
                     {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    <br><br>
     <div class="row">
            <h5>Отношение кол-ва пар для сравнения к кол-ву не сравнимых пар по методу ШНУР</h5>

<img src="{{path_img_snod}}" class="rounded float-start">

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Кол-во не сравнимых пар</th>
                <th scope="col">Кол-во пар альтернатив</th>
                <th scope="col">Кол-во альтернатив</th>
            </tr>
            </thead>
            <tbody>
            {% for item in context_table_snod %}
                <tr>
                 {% for i in item %}
                    <td>{{ i }}</td>
                     {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>

<br><br>
        <div class="row">
            <h5>Отношение кол-ва альтернатив к кол-ву заданных вопросов по методу ШНУР</h5>

<img src="{{path_img_snod_number_question}}" class="rounded float-start">

         <h5>Отношение кол-ва альтернатив к кол-ву повторяющихся вопросов по методу ШНУР</h5>
        <img src="{{path_img_snod_number_of_repeted_question}}" class="rounded float-start">

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Кол-во заданных вопрос</th>
                <th scope="col">Кол-во повторяющися</th>
                <th scope="col">Кол-во альтернатив</th>
            </tr>
            </thead>
            <tbody>
            {% for item in context_table_snod_number_of_question %}
                <tr>
                 {% for i in item %}
                    <td>{{ i }}</td>
                     {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    {% else %}
         <div class="row p5 ">
            <blockquote class="">Нет результатов для вывода статистик. Сначала получите результат в моделяз!</blockquote>
        </div>

    {% endif %}

</div>
{% endblock %}