{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Загрузить модель</span>
                        <p>Вы можете загрузить свою модель в формате CSV. Пример корректного файла Вы можете скачать нажав на кнопку "Скачать шаблон"</p>
                    </div>
                    <div class="card-action">
                        <form action="{% url 'download'%}" method="POST">

                            {% csrf_token %}
                            <button type="submit" class="waves-effect waves-light btn">Скачать шаблон</button>
                        </form>
                    </div>
                    <div class="card-action">
                        <form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="file-field input-field">
                                <div class="btn">
                                    <span>Выбрать CSV</span>
                                    <input type="file" name="document">
                                </div>

                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" >
                                    <button type="submit" class="waves-effect waves-light btn right">Загрузить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}