{% extends "spbpu/base.html" %}
{% block content %}
 <div class="container">
    {% if models|length %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Модель</th>
            <th scope="col">Исходные данные</th>
            <th scope="col">Метод ШНУР</th>
            <th scope="col">Метод ПАРК</th>
            <th scope="col">Удалить</th>
        </tr>
        </thead>
        <tbody>


        {% for model in models  %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{  model.name }}</td>
                <td> <a class="btn btn-outline-primary btn-block btn-sm" href="{% url 'models_id' id=model.pk %}">Посмотреть</a></td>
                <td>
                    {% if model.id_winner_option_shnur == None %}
                    <a class="btn btn-outline-secondary btn-block btn-sm" href="{% url 'snod_search' id=model.pk%}"> Найти альтернативу</a>
                    {% else %}
                    <a class="btn btn-outline-secondary btn-block btn-sm" href="{% url 'snod_result' id=model.pk %}">Результат</a>
                    {% endif %}
                </td>
                <td>
                    {% if model.already_find_winner_PACOM == False %}
                    <a class="btn btn-outline-secondary btn-block btn-sm" href="{% url 'park_search' id=model.pk %}"> Найти альтернативу</a>
                    {% else %}
                    <a class="btn btn-outline-secondary btn-block btn-sm" href="{% url 'park_result' pk=model.pk %}">Результат</a>
                    {% endif %}
                </td>
                <td><form action="{% url 'models_id' id=model.id  %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" required class="form-control" name="_method" value = "DELETE">
                    <input type="submit" class="btn btn-outline-danger btn-sm btn-block" value="Удалить" >
                </form>
                </td>

            </tr>
        {% endfor %}

        </tbody>

    </table>
      {% else %}
        <div class="row p5 ь">
            <blockquote class="">Нет моделей для поиска лучшей альтернативы. Создайте!</blockquote>
        </div>
        {% endif %}
 </div>
{% endblock %}