{% extends "spbpu/base.html" %}
{% block content %}
<div class="container">
        <div class="row">

            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ответьте на вопрос:</h5>
                        <p class="card-text">{{ message.question }}</p>

                        <form action="{% url 'snod_search' id=model.id  %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" required class="form-control" name="answer" value = "1">
                    <input type="hidden" required class="form-control" name="message" value = "{{ message }}">
                    <input type="submit" class="btn btn-outline-danger btn-sm" value="Важнее 1ое преимущество" >
                </form>
                        <form action="{% url 'snod_search' id=model.id  %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" required class="form-control" name="answer" value = "0">
                    <input type="hidden" required class="form-control" name="message" value = "{{ message }}">
                    <input type="submit" class="btn btn-outline-danger btn-sm" value="Одинаково важны" >
                </form>

                        <form action="{% url 'snod_search' id=model.id  %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" required class="form-control" name="answer" value = "2">
                    <input type="hidden" required class="form-control" name="message" value = "{{ message }}">
                    <input type="submit" class="btn btn-outline-danger btn-sm" value="Важнее 2ое преимущество" >
                </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}