{% extends "spbpu/../base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <form  action="{% url 'create_model'  %}" method="post">
                {% csrf_token %}
                <h5 class="mb-3 font-weight-normal">Выберите кол-во критериев и кол-во альтернатив</h5>

                <div class="input-field col s12">


                    <select  id="number_of_criterion" name="number_of_criterion">
                        {% for number in number_for_select %}
                            <option selected value= "{{ number }}">
                            {{ number }}
                        {% endfor %}
                    </select>
                    <label>Кол-во критериев</label>
                </div>


                <div class="input-field col s12">
                    <select id="number_of_alternatives" name="number_of_alternatives">
                        {% for number in number_for_select %}
                            <option selected value= "{{ number }}">
                            {{ number }}
                        {% endfor %}
                    </select>
                    <label>Кол-во альтернатив</label>
                </div>


                <div class="btn-group mt-3" role="group" aria-label="Basic example">
                    <a href="{% url 'index' %}" class="btn btn btn-primary mr-2" >Назад</a>
                    <button class="btn btn btn-primary " type="submit">Далее</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}