{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h4>{{ model.name }} модель</h4>
        <table class="table table-hover ">
            <thead>
            <tr>
                {% for h in model_header %}
                    <th scope="col">{{ h }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for model in model_data  %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    {% for m in model %}
                        <td>{{ m }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            <br><br>
        </div>
        <div class="container">
            <div class="row mt-5">
                {% if model.already_find_winner_SNOD == False %}
                    <a class="btn btn-outline-secondary" href="{% url 'snod_original_search' id=model.id%}">Найти лучшую альтернативу по ШНУР</a>
                {% else %}
                    <a class="btn btn-outline-secondary" href="{% url 'snod_original_result' id=model.id %}">Результат</a>
                {% endif %}
            <br>

                {% if model.id_winner_option_shnur is None %}
                    <a class="btn btn-outline-secondary" href="{% url 'snod_search' id=model.id %}">Найти лучшую альтернативу по модифицированному ШНУР</a>
                {% else %}
                    <a class="btn btn-outline-secondary" href="{% url 'snod_result' id=model.id %}">Посмотреть результаты ШНУР</a>
                {% endif %}
            <br>

                {% if model.already_find_winner_PACOM is False %}
                    <a class="btn btn-outline-secondary" href="{% url 'park_search' id=model.id %}">Найти лучшую альтернативу по ПАРК</a>
                {% else %}
                    <a class="btn btn-outline-secondary" href="{% url 'park_result' id=model.id %}">Посмотреть результаты ПАРК</a>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}