<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Система принятия решений</title>

    <!-- MaterializeCSS core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Custom styles for this template -->
    {% load static %}
    <!-- Custom styles for this template -->

    <script>
         $(document).ready(function() {
            $('select').material_select();
         });
      </script>
</head>

<body>

  <nav>
    <div class="nav-wrapper teal darken-1">
      <a href="{% url 'index' %}" class="brand-logo">Система принятия решений</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'index' %}">Главная</a></li>
        <li><a href="{% url 'models' %}">Модели</a></li>
      </ul>
    </div>
  </nav>

  {% block content %}

{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


</body>