{% extends "spbpu/base.html" %}
{% block content %}
    <div class="container">
    <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Загрузить модель</h5>
        <p class="card-text">Вы можете загрузить свою модель в формате CSV. Пример корректного файла Вы можете скачать нажав на кнопку "Скачать"</p>

          <form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
<div class="input-group">
    <a href="#" class="btn btn-primary mr-3">Скачать</a>
  <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" name="document">
  <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Загрузить</button>
</div>
          </form>
      </div>
    </div>
  </div>

{% endblock %}